.bibfolder-items {
    font-weight: normal;
}
.bibfolder-items .folder-item {
    margin-bottom: 10px;
}
.bibfolder-items .folder-item a {
    text-decoration: none!important;
    color: #333333;
}
.bibfolder-items .folder-item a:hover {
    color: #007bb1;
}
table.duplicates td {
    padding: 8px 6px;;
}
table.duplicates th {
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
}
table.duplicates tr:hover td {
    background-color: #007bb1;
    color: #fff;
    cursor: pointer;
}
.m-10 {
    margin: 10px 0;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.contenttypecriteria {
    border: 1px solid #ccc;
}
.contenttypecriteria h4 {
    background-color: #ccc;
    font-size: 16px;
    margin-top: 0;
    padding: 8px;
}
.contenttypecriteria ul {
    list-style: none;
    padding-left: 8px;
}
